ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    olet-1
    DATE-DMY 07/21/15
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  
    ATTRIBUTE7  olet
    ATTRIBUTE8  
    ATTRIBUTE9  Project 3
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  C150
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -193.8691    434.2732    0.0000
END-POSITION-NULL
    CO-ORDS          -29.5383    202.1250    0.0000
END-POSITION-NULL
    CO-ORDS          -39.2957    213.5000    1.8562
END-POSITION-NULL
    CO-ORDS          -67.9301    240.6936    0.0000
END-POSITION-NULL
    CO-ORDS          -83.1739    265.7533    -4.0659
END-POSITION-NULL
    CO-ORDS          -99.7605    281.7116    0.0000
END-POSITION-NULL
    CO-ORDS          56.3052    120.5242    0.0000
PIPE
    END-POINT        56.3052    120.5242    0.0000    4.0000
    END-POINT        -221.4138    398.2432    0.0000    4.0000
    ITEM-CODE  C150-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
WELD
    END-POINT        -221.4138    398.2432    0.0000    4.0000
    END-POINT        -221.4138    398.2432    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -221.4138    398.2432    0.0000    4.0000  BW
    END-POINT        -221.4138    406.7285    0.0000    4.0000  BW
    CENTRE-POINT     -225.6565    402.4859    0.0000
    SKEY  ELBW
    ITEM-CODE  C150-4731
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  8.59
WELD
    END-POINT        -221.4138    406.7285    0.0000    4.0000
    END-POINT        -221.4138    406.7285    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -221.4138    406.7285    0.0000    4.0000
    END-POINT        -193.8691    434.2732    0.0000    4.0000
    ITEM-CODE  C150-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
WELD
    END-POINT        -104.8822    281.7116    0.0000    4.0000
    END-POINT        -104.8822    281.7116    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -104.8822    281.7116    0.0000
    BRANCH1-POINT    -99.7605    281.7116    -0.0000    0.2500  BW
    SKEY  LABW
    ITEM-CODE  C150-6785
    ITEM-DESCRIPTION  LATROLET, SCH 160, BW, 1 192/204" LG
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -86.0489    262.8783    0.0000    4.0000
    END-POINT        -86.0489    262.8783    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -86.0489    262.8783    0.0000
    BRANCH1-POINT    -83.1739    265.7533    -4.0659    2.0000  PL
    SKEY  NIBW
    ITEM-CODE  C150-6925
    ITEM-DESCRIPTION  NIPOLET, BWXPE, 3.5 LG
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  2.08
OLET
    CENTRE-POINT     -65.8972    242.7266    0.0000
    BRANCH1-POINT    -67.9301    240.6936    0.0000    0.5000  SW
    SKEY  SKSW
    ITEM-CODE  C150-1473
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 9/16" LG, ASME B16.11, ASTM A105
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.26
WELD
    END-POINT        -65.8972    242.7266    0.0000    4.0000
    END-POINT        -65.8972    242.7266    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -37.9831    214.8125    0.0000
    BRANCH1-POINT    -39.2956    213.5000    1.8562    0.3750  SC
    SKEY  THSC
    ITEM-CODE  C150-7602
    ITEM-DESCRIPTION  THREADOLET, 3000 LB, BWXFPT, 3/8" LG, MSS SP-97
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.09
WELD
    END-POINT        -37.9831    214.8125    0.0000    4.0000
    END-POINT        -37.9831    214.8125    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -27.4170    204.2464    0.0000
    BRANCH1-POINT    -29.5383    202.1251    0.0000    0.5000  BW
    SKEY  WTBW
    ITEM-CODE  C150-8119
    ITEM-DESCRIPTION  WELDOLET, BW, STD, 3/4" LG, MSS-SP-97
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  0.12
WELD
    END-POINT        -27.4170    204.2464    0.0000    4.0000
    END-POINT        -27.4170    204.2464    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    olet-2
    DATE-DMY 07/21/15
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE6  
    ATTRIBUTE7  olet
    ATTRIBUTE8  
    ATTRIBUTE9  Project 3
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -123.4839    301.4696    0.0000
END-POSITION-NULL
    CO-ORDS          -124.6402    301.4696    0.0000
OLET
    CENTRE-POINT     -124.6402    301.4696    0.0000
    BRANCH1-POINT    -123.4840    301.4696    0.0000    0.3750  SC
    SKEY  THSC
    ITEM-CODE  C150-6573
    ITEM-DESCRIPTION  ELBOLET, 6000 LB, BWXFPT, 1 5/32" LG, ASME B16.11
    FABRICATION-ITEM
    PIPING-SPEC  C150
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_6000
    WEIGHT  0.82
MATERIALS
ITEM-CODE  C150-4804
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Tapweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  C150-6785
    DESCRIPTION  LATROLET, SCH 160, BW, 1 192/204" LG
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  C150-6925
    DESCRIPTION  NIPOLET, BWXPE, 3.5 LG
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  C150-1473
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 9/16" LG, ASME B16.11, ASTM A105
    Schedule  
    PressureClass  3000
    Material  
ITEM-CODE  C150-7602
    DESCRIPTION  THREADOLET, 3000 LB, BWXFPT, 3/8" LG, MSS SP-97
    Schedule  
    PressureClass  3000
    Material  
ITEM-CODE  C150-8119
    DESCRIPTION  WELDOLET, BW, STD, 3/4" LG, MSS-SP-97
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  C150-4731
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  C150-6573
    DESCRIPTION  ELBOLET, 6000 LB, BWXFPT, 1 5/32" LG, ASME B16.11
    Schedule  
    PressureClass  6000
    Material  