ISOGEN-FILES  ISOGEN.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    2009
    ATTRIBUTE1  Project 1
    ATTRIBUTE2  2009
    ATTRIBUTE3  
    ATTRIBUTE4  
END-POSITION-NULL
    CO-ORDS          -58.4211    112.4292    -0.0000
END-POSITION-NULL
    CO-ORDS          -130.2147    188.9135    -0.0000
PIPE
    END-POINT        -67.4211    188.9135    -0.0000    6.0000
    END-POINT        -130.2147    188.9135    -0.0000    6.0000
    ITEM-CODE  CS150-955
    FABRICATION-ITEM
    PIPING-SPEC  CS150
ELBOW
    END-POINT        -58.4211    179.9135    -0.0000    6.0000  BW
    END-POINT        -67.4211    188.9135    -0.0000    6.0000  BW
    CENTRE-POINT     -58.4211    188.9135    -0.0000
    SKEY  ELBW
    ITEM-CODE  CS150-270
    FABRICATION-ITEM
    ANGLE   9000
    TAG  
    PIPING-SPEC  CS150
WELD
    END-POINT        -67.4211    188.9135    -0.0000    0.0000
    END-POINT        -67.4211    188.9135    -0.0000    0.0000
    SKEY  WW
    TAG  
    PIPING-SPEC  CS150
PIPE
    END-POINT        -58.4211    112.4292    -0.0000    6.0000
    END-POINT        -58.4211    179.9135    -0.0000    6.0000
    ITEM-CODE  CS150-955
    FABRICATION-ITEM
    PIPING-SPEC  CS150
WELD
    END-POINT        -58.4211    179.9135    -0.0000    0.0000
    END-POINT        -58.4211    179.9135    -0.0000    0.0000
    SKEY  WW
    TAG  
    PIPING-SPEC  CS150
MATERIALS
ITEM-CODE  CS150-955
    DESCRIPTION  PIPE, SEAMLESS, 6" ND, PE, ASME B36.10, ASTM A106 GR B SMLS, SC
    DESCRIPTION  H 40
ITEM-CODE  Buttweld-6
    DESCRIPTION  Buttweld
ITEM-CODE  CS150-270
    DESCRIPTION  ELL 90 LR, 6" ND, BW, ASME B16.9, ASTM A234 GR WPB SMLS, SCH 40