ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    1001-1
    DATE-DMY 07/21/15
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  
    ATTRIBUTE7  1001
    ATTRIBUTE8  
    ATTRIBUTE9  Project 1
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  CS300
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -104.7092    369.9398    0.0000
END-POSITION-NULL
    CO-ORDS          -57.5897    215.0532    4.1250
END-POSITION-NULL
    CO-ORDS          -57.5897    215.0532    -4.1250
END-POSITION-NULL
    CO-ORDS          -57.5897    143.8788    0.0000
PIPE
    END-POINT        -59.3574    235.4472    0.0000    4.0000
    END-POINT        -145.0370    321.1267    0.0000    4.0000
    ITEM-CODE  CS300-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
WELD
    END-POINT        -145.0370    321.1267    0.0000    4.0000
    END-POINT        -145.0370    321.1267    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -145.0370    321.1267    0.0000    4.0000  BW
    END-POINT        -145.0370    329.6120    0.0000    4.0000  BW
    CENTRE-POINT     -149.2796    325.3694    0.0000
    SKEY  ELBW
    ITEM-CODE  CS300-4731
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  8.59
WELD
    END-POINT        -145.0370    329.6120    0.0000    4.0000
    END-POINT        -145.0370    329.6120    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -145.0370    329.6120    0.0000    4.0000
    END-POINT        -104.7092    369.9398    0.0000    4.0000
    ITEM-CODE  CS300-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
ELBOW
    END-POINT        -57.5897    231.1794    0.0000    4.0000  BW
    END-POINT        -59.3574    235.4472    0.0000    4.0000  BW
    CENTRE-POINT     -57.5897    233.6794    0.0000
    SKEY  ELBW
    ITEM-CODE  CS300-4664
    ITEM-DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    ANGLE   13500
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  4.29
WELD
    END-POINT        -59.3574    235.4472    0.0000    4.0000
    END-POINT        -59.3574    235.4472    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -57.5897    143.8788    0.0000    4.0000
    END-POINT        -57.5897    191.1549    0.0000    4.0000
    ITEM-CODE  CS300-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
WELD
    END-POINT        -57.5897    191.1549    0.0000    4.0000
    END-POINT        -57.5897    191.1549    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -57.5897    195.1549    0.0000    4.0000
    END-POINT        -57.5897    195.1549    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -57.5897    195.1549    0.0000    4.0000
    END-POINT        -57.5897    210.9282    0.0000    4.0000
    ITEM-CODE  CS300-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
WELD
    END-POINT        -57.5897    210.9282    0.0000    4.0000
    END-POINT        -57.5897    210.9282    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
CROSS
    END-POINT        -57.5897    210.9282    0.0000    4.0000  Universal_ET
    END-POINT        -57.5897    219.1782    0.0000    4.0000  Universal_ET
    CENTRE-POINT     -57.5897    215.0532    0.0000
    BRANCH1-POINT    -57.5897    215.0532    -4.1250    4.0000  Universal_ET
    BRANCH2-POINT    -57.5897    215.0532    4.1250    4.0000  Universal_ET
    SKEY  CRBW
    ITEM-CODE  PlaceHolder Imperial-610
    ITEM-DESCRIPTION  PH IMPERIAL Cross
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -57.5897    219.1782    0.0000    4.0000
    END-POINT        -57.5897    219.1782    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -57.5897    219.1782    0.0000    4.0000
    END-POINT        -57.5897    231.1794    0.0000    4.0000
    ITEM-CODE  CS300-4804
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  10.8
WELD
    END-POINT        -57.5897    231.1794    0.0000    4.0000
    END-POINT        -57.5897    231.1794    0.0000    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
COUPLING
    END-POINT        -57.5897    191.1549    0.0000    4.0000  Universal_ET
    END-POINT        -57.5897    195.1549    0.0000    4.0000  Universal_ET
    SKEY  COSC
    ITEM-CODE  PlaceHolder Imperial-2268
    ITEM-DESCRIPTION  PH IMPERIAL Coupling (BOX)
    FABRICATION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPELINE-REFERENCE    1001-2
    DATE-DMY 07/21/15
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE6  
    ATTRIBUTE7  1001
    ATTRIBUTE8  
    ATTRIBUTE9  Project 1
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -57.5897    175.8393    0.0000
FLANGE-BLIND
    END-POINT        -57.5897    175.8393    0.0000    4.0000  FL
    END-POINT        -56.3397    175.8393    0.0000    4.0000  FL
    SKEY  FLBL
    ITEM-CODE  CS300-110
    ITEM-DESCRIPTION  FLANGE BLIND, 300 LB, RF, ASME B16.5, ASTM A105
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_300
    WEIGHT  28
PIPELINE-REFERENCE    1001-3
    DATE-DMY 07/21/15
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE6  
    ATTRIBUTE7  1001
    ATTRIBUTE8  
    ATTRIBUTE9  Project 1
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -57.5897    198.2226    0.0000
CAP
    END-POINT        -57.5897    198.2226    0.0000    4.0000  BW
    END-POINT        -55.0897    198.2226    0.0000    4.0000  BW
    SKEY  KABW
    ITEM-CODE  CS300-4610
    ITEM-DESCRIPTION  CAP, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    FABRICATION-ITEM
    PIPING-SPEC  CS300
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    WEIGHT  3.52
MATERIALS
ITEM-CODE  CS300-4804
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.10, ASTM A106 Gr B SMLS, Sch 40
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Universal-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PlaceHolder Imperial-2268
    DESCRIPTION  PH IMPERIAL Coupling (BOX)
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PlaceHolder Imperial-610
    DESCRIPTION  PH IMPERIAL Cross
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  CS300-4664
    DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  CS300-4731
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  CS300-110
    DESCRIPTION  FLANGE BLIND, 300 LB, RF, ASME B16.5, ASTM A105
    Schedule  
    PressureClass  300
    Material  
ITEM-CODE  CS300-4610
    DESCRIPTION  CAP, BW, ASME B16.9, ASTM A234 Gr WPB SMLS, Sch 40
    Schedule  
    PressureClass  
    Material  