ISOGEN-FILES  ISOGEN.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  INCH
UNITS-WEIGHT  LBS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  INCH
PIPELINE-REFERENCE    UserDefinedLine
    ATTRIBUTE1  Project 1
END-POSITION-NULL
    CO-ORDS          0.0000    0.0000    0.0000
END-POSITION-NULL
    CO-ORDS          120.0000    0.0000    60.0000
PIPE
    END-POINT        0.0000    0.0000    0.0000    4.0000
    END-POINT        120.0000    0.0000    60.0000    4.0000
    ITEM-CODE  CS300-1001
    FABRICATION-ITEM
    PIPING-SPEC  CS300
MATERIALS
ITEM-CODE  CS300-1001
    DESCRIPTION  PIPE, SEAMLESS, 4" ND, PE, ASME B36.10, ASTM A106 GR B SMLS, SC
    DESCRIPTION  H 40